<html>
<head>

   <meta name="viewport" content="width=default-width; user-scalable=no" />
   <meta http-equiv="Content-type" content="text/html;charset=utf-8">

   <title>EDIT</title>


       <script type="text/javascript" charset="utf-8" src="../../js/jquery.js"></script>.
       <script type="text/javascript" charset="utf-8" src="../../js/crud/db.js"></script>
       <script type="text/javascript" charset="utf-8" src="../../js/getParamURL.js"></script>
       <script type="text/javascript" charset="utf-8" src="../../js/crud/edit.js"></script>
       <script type="text/javascript" charset="utf-8">

</script>
</head>
<body onload="ListDBValuesEdit()">
<h1>EDIT</h1>

<span id="lbUsers"></span>
<table id="tableUsers" border="1" style="border-collapse:collapse;" width="100%">

</table>
</body>
</html> 